<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Flask示例</title>
 </head>
    <body>
      <h1>登录</h1>
       {% if error %}
       <p><strong>Error:</strong> {{ error }}
       {% endif %}
       <form action = "/logins" method ="POST">
           <!--form 标签用于为用户输入创建HTML表单
           一般属性有action：url，method：post，get 等等属性-->
          <dl>
             <dt>用户名:</dt>
             <dd>
                <input type = text name = "username"
                   value = "{{request.form.username }}">
             </dd>
             <dt>密码:</dt>
             <dd><input type ="password" name ="password"></dd>
          </dl>
          <p><input type = submit value ="登录"></p>
       </form>
    </body>
 </html>
